:rootj{
    --back-color:f5f5f5;
    --text-color:#333333;
    --boyd-color:#f5f5f5;
}
body{
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.cart {
    display: grid;
    place-items: center;
    height: 100vh;        
    background: black;
    color: white;        
    padding: 20px;         
    margin: 20px;             
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;

}

